html, body, #app {
  margin: 0;
  height: auto;
}

#app {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(255, 255, 255, 0.808));
}

.item {
  border: 1px solid lightgray;
  opacity: 0.9;
}

.item:hover {
  transition: 0.1s;
  opacity: 0.7;
}

.content {
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(
    to bottom,
    #343A40,
    rgba(0, 0, 0, 0.4),
    transparent 89%

  )1 100%;
}

.btn-get-more:hover {
  color: blue;
  background-color: lightgrey;
}

.btn-del:hover {
  color: red;
  background-color: lightgrey;
}

.btn-edit:hover {
  color: yellow;
  background-color: lightgrey;
}

.confirm-delete {
  background-color: #E2574C;
  color: white;

}

.item:nth-child(odd) {
  background-color: azure;
}

.item:nth-child(even) {
  background-color: lightslategray;
}

